conda.enabled = true


params.input_csv = 'example/input/samplesheet.csv'
params.outdir = 'example/output'

// Conda envs
params.env = '/scratch/andrey.tyshevich/envs/rescope3.10'

// CV++ params
params.segment_with_cvpp = true // otherwise provide CV++ styled json
params.cellvit_source = '/home/andrey.tyshevich/GitLab/CellViT-plus-plus/'
params.model_name = 'lizard' // select from 'consep', 'lizard', 'nucls_main', 'nucls_super', 'panoptils', 'ocelot', 'midog'
params.extract_embeddings = false

// Microscopy params
params.img_mpp = 0.11
params.img_magnification = 40
params.img_level = 3

params.expand_labels = true // wether to use this option in bin2cell algo

params.processing_method = 'both' // Select processing method: 'bin2cell', 'smurf' or 'both'


profiles {
    main {  
        process {
            executor = 'slurm'
            queue = 'cpuq'
            
            withName: 'CellVitPlusPlusDetection' {
                queue = 'gpuq' 
                memory = 192.GB
                cpus = 8
                clusterOptions = '--gres=gpu:1'
                time = '3h'
            }

            withName: 'extractEmbeds' {
                memory = 10.GB
                cpus = 1
                time = '20m'
            }

            withName: 'correctAlignment' {
                memory = 96.GB
                cpus = 4
                time = '3h'
            }

            withName: 'bin2cell' {
                memory = 64.GB
                cpus = 4
                time = '2h'
            }

            withName: 'convertOME' {
                memory = 20.GB
                cpus = 4
                time = '30m'
            }

            withName: 'smurf' {
                queue = 'gpuq' 
                clusterOptions = '--gres=gpu:1'
                memory = 375.GB
                cpus = 16
                time = '30h'
            }
            withName: 'postprocess_smurf' {
                memory = 512.GB
                cpus = 8
                time = '4h'
            }
        } 
    }

    example {  
        process {
            executor = 'slurm'
            queue = 'gpuq'
            clusterOptions = '--gres=gpu:1'
            
            withName: 'CellVitPlusPlusDetection' {
                queue = 'gpuq' 
                memory = 10.GB
                cpus = 4
                clusterOptions = '--gres=gpu:1'
                time = '30m'
            }

            withName: 'extractEmbeds' {
                memory = 2.GB
                cpus = 1
                time = '30m'
            }

            withName: 'correctAlignment' {
                memory = 10.GB
                cpus = 2
                time = '30m'
            }

            withName: 'bin2cell' {
                memory = 10.GB
                cpus = 2
                time = '30m'
            }

            withName: 'convertOME' {
                memory = 10.GB
                cpus = 2
                time = '30m'
            }

            withName: 'smurf' {
                queue = 'gpuq' 
                clusterOptions = '--gres=gpu:1'
                memory = 20.GB
                cpus = 8
                time = '30m'
            }
            withName: 'postprocess_smurf' {
                memory = 20.GB
                cpus = 4
                time = '30m'
            }
        } 
    }
}
